<div class="row mt-3">
    <div class="h1">Add New Member</div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="container">
        <form [formGroup]="memberForm">

          <div class="mb-3 row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="" formControlName="name">
            </div>

          </div>
          <div class="mb-3 row">
            <label for="price" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control"  placeholder="" formControlName="Password">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="unitInStock" class="col-sm-3 col-form-label">groups</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="" formControlName="groups">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="unitInStock" class="col-sm-3 col-form-label">address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="" formControlName="address">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="unitInStock" class="col-sm-3 col-form-label">phoneNumber</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  placeholder="" formControlName="phoneNumber">
            </div>
          </div>

          <div class="mb-3 row">
            <div class="offset-sm-3 col-sm-10">
              <button type="submit" class="btn btn-primary" (click)="addMember()">
                Save
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  